@page "/"

@inject UserManager<AppUser> _userManager
@inject NavigationManager _navigationManager

@attribute [Authorize(Roles = SD.ROLE_CUSTOMER)]


<header class="masthead">
	<div class="container">
		<div class="masthead-subheading">Welcome To Our Studio!</div>
		<div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
		<a class="btn btn-primary btn-xl text-uppercase" href="camera">Enjoy Our Services</a>
	</div>
</header>


@code {
	[CascadingParameter]
	public Task<AuthenticationState> _authState { get; set; }


	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			var authState = await _authState;
			var userName = authState.User.Identity.Name;
			var user = await _userManager.FindByEmailAsync(userName);
			var isAdmin = await _userManager.IsInRoleAsync(user, SD.ROLE_ADMIN);
			if (isAdmin)
			{
				_navigationManager.NavigateTo("admin");
			}
		}
	}
}