@inherits LayoutComponentBase

<PageTitle>AthenaWeb_Server</PageTitle>

<div class="page">
    <main>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                @*<a class="navbar-brand" href="#"><img src="assets/img/navbar-logo.svg" alt="..." /></a>*@
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <LoginDisplay></LoginDisplay>
                    </ul>
                </div>
            </div>
        </nav>

        <div>
            @Body
        </div>
    </main>
</div>
